#NOTEBOOK

#INTRODUCTION

## Data Science Languages

- Python
- R
- SQL
- Julia
- Java
- Scala

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch

## Data Science Tools

| Tool           | Description                                   |
|----------------|-----------------------------------------------|
| Jupyter Notebook | Interactive computing environment for data analysis |
| RStudio        | Integrated development environment for R      |
| Apache Hadoop  | Framework for distributed storage and processing of big data |
| Apache Spark   | Unified analytics engine for large-scale data processing |
| Tableau        | Data visualization software                   |

## Arithmetic Expression Examples

Below are some basic arithmetic expressions demonstrating addition, subtraction, multiplication, and division.

In [2]:
# Multiplying two numbers
multiplication_result = 5 * 7

# Adding two numbers
addition_result = 10 + 3

# Displaying the results
multiplication_result, addition_result

(35, 13)

In [3]:
# Function to convert minutes to hours
def minutes_to_hours(minutes):
    return minutes / 60

# Example: Convert 150 minutes to hours
minutes = 150
hours = minutes_to_hours(minutes)

# Display the result
hours

2.5

## Objectives

- Understand the basic operations of Jupyter Notebook.
- Learn how to use markdown cells for documentation and formatting.
- Practice writing Python code for basic arithmetic operations.
- Convert units using simple Python functions.
- Explore common data science tools and libraries.

## Author

Pasad Suryabhan Gite